.project {
   width: 100%;
   height: 100%;
}
.resume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
.project-img {
    height: 95%;
    opacity: 0.5;
    background-size: cover;
    background-position: top;
    transition: all 0.3s;
}
.project-img:hover {
    transition: all 0.3s;
    height: 95%;
    opacity: 1;
    /* border: #C59335 solid; */
    transform: scale(0.95);
    background-size: cover;
    /* background-position: top; */
}
.project-img img {

}
.project-link {
    width: 30%;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #0d1b28;
    transition: 0.5s;
    color: #000;
}
.project-link:hover {
    transition: width 2s;
    color: #C59335;
    background: #0d1b28 100%;
}
.info {
    height: 50%;
}

.project-images {
    width: 100%;
}
.project-img img{
}