.project {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;    
    width: 75%;
    height: 88vh;
    color: #fff;
}
.resume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 2rem;
}
.project-link {
    width: 30%;
    text-decoration: none;
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: 0.5s;
}
.project-link:hover {
    transition: width 2s;
    color: #C59335;
    background:linear-gradient(90deg, #132b4100, #132B41 , #132b4100);
}
.project-images {
    width: 90%;
}
.project-img img{
    width: 100%;
}